:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

.min-h-screen {
  min-height: 100vh;
}

.bg-white {
  background-color: white;
}

.p-6 {
  padding: 1.5rem;
}

.text-center {
  text-align: center;
} 
